body {
  margin: 0;
}

header{
  min-height: 100vh;
  background: #d22f00;
  font-size:4em;
  font-weight: 400;
  color: #7cd200;
  text-align: center;
  text-transform: uppercase;
  text-shadow:  3px 2px black;
  display: flex;
  justify-content: center;
font-family: sans-serif;
  align-items: center;
}


.body-wrapper{
  background: #7cd200;
  font-family: sans-serif;
  font-size:4em;
  font-weight: 400;
  color: #d22f00;
  text-align: center;
}
