body {
  margin: 0;
}

@font-face {
  font-family: 'Socicon';
  src: url('socicon/fonts/Socicon.eot');
  src: url('socicon&/fonts/Socicon.eot#iefix') format('embedded-opentype'), url('fonts/Socicon.woff2') format('woff2'), url('fonts/Socicon.ttf') format('truetype'), url('fonts/Socicon.woff') format('woff'), url('fonts/Socicon.svg#Socicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

header{
  min-height: 100vh;     /* Höhe des Fensters nehmen*/
  background: #455A64;
  font-size:4em;
  font-weight: 400;
  color: #CDDC39;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  align-items: center;
}

p {
  font-family: sans-serif;
  padding: 0 0 0 10px;
  font-size: 1.0em;
}

.body-wrapper{
  background: #CDDC39;
  font-family: sans-serif;
  font-size:4em;
  font-weight: 400;
  color: #455A64;
  position: relative;
  min-height: 100vh;
}

.hover-shadow{
    transition: 0.3s text-shadow;
    cursor:cell;
}

.hover-shadow:hover{
    text-shadow:  3px 7px 5px black;
}

@media screen and (min-width: 780px) {  /* verändert die Ansicht ab einer bestimmten Größe */
  .body-wrapper span{
    position: absolute;  /* absolute zum nächst oben liegenden Element in der Hicharchy welches nicht gleich static ist*/
  }
}

.section-bottom{
  min-height: 100vh;
  background: #CDDC39;
  justify-content: space-around;
  display: flex;
  align-items: center;
  position: relative;
  display:flex;
  flex-direction: column;

}

.section-bottom a{
 text-decoration: none;

}

.socicon-twitch, .socicon-twitter, .socicon-steam{
  color: #455A64;
  font-size: 10rem;
  text-shadow:  1px 1px black;
  transition: 0.1s text-shadow;

}

.socicon-twitch:hover, .socicon-twitter:hover, .socicon-steam:hover{
  text-shadow: 1px 5px 1px black;
}

@media screen and (min-width: 780px) {  /* verändert die Ansicht ab einer bestimmten Größe */
  .section-bottom{
    flex-direction: row;
  }
}

.kulturbanause-logo:hover .turnaround {
   transform: rotateY(180deg); /* Beim Mouse-Over wird die Szene umgedreht */
}

.animation{
    height: 250px;
    width: 250px;
    float: left;
    margin: 0 1em;
    border:1px;
    z-index: 10;
}

.animation:hover .turnaround {
   transform: rotateY(180deg); /* Beim Mouse-Over wird die Szene umgedreht */
}

.animation .front {
   background-color:#FFFF00;
   box-shadow: 5px 10px 15px #424242;
}


.turnaround {
   transition: .5s /* Die Drehung soll 0,5 Sekunden dauern */;
   transform-style: preserve-3d; /* Kind-Elemente  (.front + .back) sollen ihre 3D-Eigenschaften behalten*/
   position: relative;
   height: 100%;
}

.front,
.back {
   backface-visibility: hidden /* Die Rückseite von Elementen soll unsichtbar sein */;
   position: absolute;
   width: 100%;
   height: 100%;
}

.front { z-index: 2; }

.back {
   transform: rotateY(180deg) /* Die Rückseite des Logos wird umgedreht, um dann bei der Drehung der gesamten Szene vorne zu sein :) */;
   z-index: 1;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid white;
  float: right;
}
